@import "~bootstrap/dist/css/bootstrap.css";

body {
	background: #ffffff;
	.on-preload *, .on-preload *:before, .on-preload *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
}
