<div class="mpat-news">
    <div class="container">
        <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>งานสัมมนา</mat-card-title>
                <mat-card-subtitle>
                    Advance your career to become Top Sale manager in Pharmaceutical Market
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span>ผู้สนใจ ลงทะเบียนได้ที่ >> </span>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfkdOtXjtu20VltfnwE4a6N3DdMkzl-IPqki3SFrjKAIm5K4Q/viewform?fbclid=IwAR3LlkG_GND0G-g5fxN2_fpMMFy8ZPG1RTUUaW1-6xJxHPjriq40tKOKDQA">
                    Link
                </a>
            </mat-card-content>
            <ngx-extended-pdf-viewer [src]="'assets/news/Seminar20190517.pdf'" delayFirstView="500" useBrowserLocale="false">
            </ngx-extended-pdf-viewer>
        </mat-card>
    </div>
</div>
