<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/image/logo-mpat.png" width="120px" alt="Smiley face">
        </a>
        <div class="collapse navbar-collapse show">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://goo.gl/forms/0y6szG74NtkN9keY2">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h2 class="masthead-subheading mb-0">สมาคมเภสัชกรรมการตลาด</h2>
            <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container contact-info">
        <h2 class="display-4">CONTACT INFO</h2>
        <div class="row text-white">
            <div class="col"></div>
            <div class="col col-lg-4">
                <i class="fa fa-phone">
                    <a style="display:inline-block; width:60px;">Mobile:</a>
                    <a>09-0376-6728</a>
                </i>
                <i class="fa fa-comment">
                    <a style="display:inline-block; width:60px;">Line ID:</a>
                    <a>mpatthailand</a>
                </i>
                <i class="fa fa-envelope">
                    <a style="display:inline-block; width:60px;">E-Mail:</a>
                    <a>mpatthailand@gmail.com</a>
                </i>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>