<div class="mpat-about">
    <div class="container">
        <img class="imgbox" src="../../../../../assets/image/committee.jpg" alt="committee">

        <h4>วิสัยทัศน์</h4>
        <div class="row">
            <span>เป็นศูนย์รวมเภสัชกรการตลาดมุ่งมั่นเพื่อพัฒนา ส่งเสริม พิทักษ์ วิชาชีพเพื่อให้เกิดการยอมรับจากบุคลากรทางด้านสาธารณสุข และสังคม</span>
        </div>

        <h4>พันธกิจ</h4>
        <div class="row">
            <ul>
                <li *ngFor="let item of mission">
                    <span>{{ item }}</span>
                </li>
            </ul>
        </div>

        <h4>วัตถุประสงค์</h4>
        <div class="row">
            <ul>
                <li *ngFor="let item of purpose">
                    <span>{{ item }}</span>
                </li>
            </ul>
        </div>

        <h4>รายชื่อคณะกรรมการบริหาร</h4>
        <div class="row">
            <table style="width:100%">
                <tr>
                  <th>ชื่อ - นามสกุล</th>
                  <th>ตำแหน่ง</th>
                </tr>
                <tr *ngFor="let item of committee">
                  <td>{{ item.name }}</td>
                  <td>{{ item.type }}</td> 
                </tr>
            </table>
        </div>
    </div>
</div>