<div class="mpat-footer">
    <footer class="container">
        <h2 class="display-4">CONTACT INFO</h2>
        <div class="row text-white">
            <div class="col"></div>
            <div class="col col-lg-4">
                <i class="fa fa-phone">
                    <a style="display:inline-block; width:60px;">Mobile:</a>
                    <a>09-0376-6728</a>
                </i>
                <i class="fa fa-comment">
                    <a style="display:inline-block; width:60px;">Line ID:</a>
                    <a>mpatthailand</a>
                </i>
                <i class="fa fa-envelope">
                    <a style="display:inline-block; width:60px;">E-Mail:</a>
                    <a>mpatthailand@gmail.com</a>
                </i>
            </div>
        </div>
    </footer>
</div>
