.mpat-footer {
    padding: 24px 0px;
    background-color: black;
    h2 {
        position: absolute;
    }
    i {
        display: block;
        width: 100%;
        word-wrap: unset;
        margin-bottom: 8px;
        a {
            margin-left: 8px;
        }
    }
}
